#link1 {
    display: inline;
    font-weight: bold;
}

hr {
    border-style: solid;
    border-width: 1px;

}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-weight: 100px;

    font-size: 42px;
    margin-right: 100px;
    margin-top: 25px;
    margin-left: 190px;


}

form {
    font-weight: 600px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: outset;
    margin-left: 300px;
    padding: 10px;
    border-style: solid;
    width: 800px;

}

strong {
    font-weight: bolder;
}

#emailadd {

    margin-left: 252px;
}

#email {
    border-style: solid;

}

.rnew1 {


    margin-left: 205px;
}

#rnew {
    border-style: solid;
}

.new1 {

    margin-left: 261px;
}

#new {
    border-style: solid;
}

#old {
    border-style: solid;


}

#link1 {
    margin-left: 360px;
    padding: 0%;



}

#reset {
    margin-left: 80px;
    margin-top: 20px;
    cursor: pointer;
    border-style: solid;

}

#submit {
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
    border-style: solid;

}

#old1 {
    margin-left: 81px;
}